<div class="message">
  <div class="canvas">
    <canvas #canvasEl width="510" height="510" (click)="clickOnChart(this,$event)"></canvas>
  </div>
  <div class="input-div">
    <form class="form">
      <div class="coordinate">
        <div class="coordinates-x">
          <label for="inputText"> Choose X:</label>
          <div class="row">
            <div class="x-div">
              <button pButton type="button" value="-4" id="xButton1"
                      class="input_form_button_x p-button-outlined p-button-raised p-button-rounded" pRipple icon=""
                      (click)="onClickX(this,-4)"
                      label="-4"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="-3" id="xButton2"
                      class="input_form_button_x p-button-outlined p-button-raised p-button-rounded" pRipple icon=""
                      (click)="onClickX(this,-3)"
                      label="-3"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="-2" id="xButton3"
                      class="input_form_button_x p-button-outlined p-button-raised p-button-rounded" pRipple icon=""
                      (click)="onClickX(this,-2)"
                      label="-2"></button>
            </div>
          </div>
          <div class="row">
            <div class="x-div">
              <button pButton type="button" value="-1" id="xButton4"
                      class="input_form_button_x p-button-outlined p-button-raised p-button-rounded" pRipple icon=""
                      (click)="onClickX(this,-1)"
                      label="-1"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="0" id="xButton5"
                      class="input_form_button_x p-button-outlined p-button-raised p-button-rounded" pRipple icon=""
                      (click)="onClickX(this,0)"
                      label="0"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="1" id="xButton6"
                      class="input_form_button_x p-button-outlined p-button-raised p-button-rounded" pRipple icon=""
                      (click)="onClickX(this,1)"
                      label="1"></button>
            </div>
          </div>
          <div class="row">
            <div class="x-div">
              <button pButton type="button" value="2" id="xButton7"
                      class="input_form_button_x p-button-outlined p-button-raised p-button-rounded" pRipple icon=""
                      (click)="onClickX(this,2)"
                      label="2"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="3" id="xButton8"
                      class="input_form_button_x p-button-outlined p-button-raised p-button-rounded" pRipple icon=""
                      (click)="onClickX(this,3)"
                      label="3"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="4" id="xButton9"
                      class="input_form_button_x p-button-outlined p-button-raised p-button-rounded" pRipple icon=""
                      (click)="onClickX(this,4)"
                      label="4"></button>
            </div>
          </div>
        </div>

        <div class="coordinates-y">
          <p><label for="inputText">Input Y:</label>
            <br>
            <input type="text" id="inputText" maxlength="10"></p>
        </div>

        <div class="coordinates-r">
          <label for="inputText"> Choose R:</label>

          <div class="row-r">
            <div class="r-div">
              <button pButton type="button" value="-4" id="rButton1"
                      class="input_form_button_r p-button-outlined p-button-raised p-button-rounded"
                      (click)="onClickR(this,-4)" pRipple icon="" label="-4"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="-3" id="rButton2"
                      class="input_form_button_r p-button-outlined p-button-raised p-button-rounded"
                      (click)="onClickR(this,-3)" pRipple icon="" label="-3"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="-2" id="rButton3"
                      class="input_form_button_r p-button-outlined p-button-raised p-button-rounded"
                      (click)="onClickR(this,-2)" pRipple icon="" label="-2"></button>
            </div>
          </div>
          <div class="row-r">
            <div class="r-div">
              <button pButton type="button" value="-1" id="rButton4"
                      class="input_form_button_r p-button-outlined p-button-raised p-button-rounded"
                      (click)="onClickR(this,-1)" pRipple icon="" label="-1"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="0" id="rButton5"
                      class="input_form_button_r p-button-outlined p-button-raised p-button-rounded"
                      (click)="onClickR(this,0)" pRipple icon="" label="0"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="1" id="rButton6"
                      class="input_form_button_r p-button-outlined p-button-raised p-button-rounded"
                      (click)="onClickR(this,1)" pRipple icon="" label="1"></button>
            </div>
          </div>
          <div class="row-r">
            <div class="r-div">
              <button pButton type="button" value="2" id="rButton7"
                      class="input_form_button_r p-button-outlined p-button-raised p-button-rounded"
                      (click)="onClickR(this,2)" pRipple icon="" label="2"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="3" id="rButton8"
                      class="input_form_button_r p-button-outlined p-button-raised p-button-rounded"
                      (click)="onClickR(this,3)" pRipple icon="" label="3"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="4" id="rButton9"
                      class="button_r_clicked input_form_button_r p-button-outlined p-button-raised p-button-rounded"
                      (click)="onClickR(this,4)" pRipple icon="" label="4"></button>
            </div>
          </div>
        </div>
      </div>
      <span class="buttons">
  <button pButton type="button" label="Clear" (click)="clearPoints()" pRipple icon="pi pi-trash"></button>

  <button pButton type="button" label="Add" (click)="addPoint()" pRipple icon="pi pi-check"></button>

      </span>
    </form>
  </div>
  <button pButton type="button" label="Go back" class="buttonOut" pRipple></button>
</div>

<table class="tablePoints table table-striped">
  <thead>
  <th>Id</th>
  <th>X</th>
  <th>y</th>
  <th>R</th>
  <th>Result</th>
  </thead>
  <tbody>
  <tr *ngFor="let point of pointList">
    <td> {{ point.id}}</td>
    <td> {{ point.x}}</td>
    <td> {{ point.y}}</td>
    <td> {{ point.r}}</td>
    <td> {{ point.result}}</td>
  </tr>
  </tbody>
</table>
<div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" id="x" [hidden]="true"
             [(ngModel)]="point.x" name="x">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="y" [hidden]="true"
             [(ngModel)]="point.y" name="y">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="r" [hidden]="true"
             [(ngModel)]="point.r" name="r">
    </div>
    <button [hidden]="true" id="submitButton" class="btn btn-success" type="submit">Submit</button>
  </form>
</div>

