<div class="message">
  <div class="canvas">
    <canvas #canvasEl width="510" height="510"></canvas>  </div>
  <div class="input-div">
    <form class="form">
      <div class="coordinate">
        <div class="coordinates-x">
          <label for="inputText"> Choose X:</label>
          <div class="row">
            <div class="x-div">
              <button pButton type="button" value="-4" id="x-button1"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="-4"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="-3" id="x-button2"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="-3"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="-2" id="x-button3"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="-2"></button>
            </div>
          </div>
          <div class="row">
            <div class="x-div">
              <button pButton type="button" value="-1" id="x-button4"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="-1"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="0" id="x-button5"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="0"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="1" id="x-button6"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="1"></button>
            </div>
          </div>
          <div class="row">
            <div class="x-div">
              <button pButton type="button" value="2" id="x-button7"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="2"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="3" id="x-button8"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="3"></button>
            </div>
            <div class="x-div">
              <button pButton type="button" value="4" id="x-button9"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="4"></button>
            </div>
          </div>
        </div>

        <div class="coordinates-y">
          <p><label for="inputText">Input Y:</label>
            <br>
            <input type="text" id="inputText" maxlength="10"></p>
        </div>

        <div class="coordinates-r">
          <label for="inputText"> Choose R:</label>

          <div class="row-r">

            <div class="r-div">
              <button pButton type="button" value="-4" id="r-button1"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="-4"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="-3" id="r-button2"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="-3"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="-2" id="r-button3"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="-2"></button>
            </div>
          </div>
          <div class="row-r">

            <div class="r-div">
              <button pButton type="button" value="-1" id="r-button4"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="-1"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="0" id="r-button5"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="0"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="1" id="r-button6"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="1"></button>
            </div>
          </div>
          <div class="row-r">

            <div class="r-div">
              <button pButton type="button" value="2" id="r-button7"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="2"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="3" id="r-button8"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="3"></button>
            </div>
            <div class="r-div">
              <button pButton type="button" value="4" id="r-button9"
                      class="p-button-outlined p-button-raised p-button-rounded" pRipple icon="" label="4"></button>
            </div>
          </div>
        </div>
      </div>
      <span class="buttons">
  <button pButton type="button" label="Clear" pRipple icon="pi pi-trash"></button>

  <button pButton type="button" label="Add" (click)="loadPoints()" pRipple icon="pi pi-check"></button>

      </span>
    </form>
  </div>
  <button pButton type="button" label="Go back" pRipple></button>
</div>

<table class="tablePoints table table-striped">
  <thead>
  <th>Id</th>
  <th>X</th>
  <th>y</th>
  <th>R</th>
  <th>Result</th>
  </thead>
  <tbody>
  <tr *ngFor = "let point of pointList">
    <td> {{ point.id}}</td>
    <td> {{ point.x}}</td>
    <td> {{ point.y}}</td>
    <td> {{ point.r}}</td>
    <td> {{ point.result}}</td>
  </tr>
  </tbody>
</table>
